<h1>New List</h1>
<%# # TODO create todo items fields with plus button to add more fields %>
<% flash.each do |status, message| %>
  <%= content_for :div, message, class: status %>
<% end%>


<div class="container">
  <%= form_with(model: @todo_list, class: 'create-form') do |form| %>
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
    <%= render partial: "todo_items/todo_item_form", locals: { form: form } %>
    <%= form.submit %>
  <% end %>
</div>